---
import type { Project } from "@/data/projects"
import { ArrowUpRight } from "@lucide/astro"
import FadeUp from "@/components/FadeUp.astro"

interface Props {
  project: Project
}
const { project } = Astro.props
---

<FadeUp delay={400}>
  <a
    href={"/projects/" + project.slug}
    class="group flex flex-col overflow-hidden rounded-lg ring-2 ring-border bg-secondary transition-colors hover:border-foreground/30 hover:bg-accent/50"
  >
    <div class="aspect-video overflow-hidden bg-muted">
      <img
        src={project.images[0]}
        alt={project.title}
        class="h-full w-full object-cover transition-transform duration-300 group-hover:scale-105"
      />
    </div>
    <div class="flex flex-col gap-3 p-5">
      <div class="flex items-start justify-between gap-4">
        <h3 class="font-medium leading-tight tracking-tight text-foreground">
          {project.title}
        </h3>
        <ArrowUpRight
          class="size-4 shrink-0 text-muted-foreground transition-transform duration-200 group-hover:-translate-y-0.5 group-hover:translate-x-0.5 group-hover:text-foreground"
        />
      </div>
  
      <p class="text-xs font-mono leading-relaxed text-muted-foreground line-clamp-3">
        {project.description}
      </p>
  
      <div class="flex flex-wrap items-center gap-x-2 gap-y-1">
        <span class="font-mono text-xs text-muted-foreground">{project.year}</span>
        <span class="text-muted-foreground text-xl">·</span>
        {
          project.tech.map((tech) => (
            <span class="font-mono text-xs text-muted-foreground gap-y-2">
              <img
                src={tech.iconLight}
                alt={tech.name}
                class="block h-4 w-4 dark:hidden"
              />
  
              <img
                src={tech.iconDark}
                alt={tech.name}
                class="hidden h-4 w-4 dark:block"
              />
            </span>
          ))
        }
      </div>
    </div>
  </a>
</FadeUp>
